body, html, .body {
  background: $white !important;
}

.deals-main {
  &__links {
    text-align: center;
  } a {
    padding: 0px 6px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    &:link {
      color: $black;
    }
    &:visited {
      color: $black;
    }
  }
  span {
    font-size: 1.5rem;
  }
}

.deals1 {
  &__header {
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__btn {
    margin-top: 7px !important;
  }
}

.deals3 {
  &__header {
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
  }
}

.deals4 {
  &__header {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__btn>tbody>tr>td>table>tbody>tr>td>a {
    padding: 7px 38px;
  }
  &__buy1get1 {
    height: 35px;
  }
  &__anypop {
    margin-top: 5px;
  }
}

.deals5 {
  &__header {
    text-align: center;
    font-size: 1.3rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__subheader {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 6px;
  }
  &__row>tbody>tr>th {
    padding: 0;
  }
}
