body, html, .body {
  background: $white !important;
}

.deals-main {
  &__links {
    text-align: center;
  } a {
    padding: 0px 6px;
    font-weight: bold;
    &:link {
      color: black;
    }
    &:visited {
      color: black;
    }
  }
  span {
    font-size: 1.5rem;
  }
}

.deals1 {
  &__header {
    text-align: center;
    font-weight: bold;
  }
  &__description {
    text-align: center;
    margin-bottom: 0;
  }
  &__btn {
    margin-top: 7px !important;
  }
}

.deals2 {
  &__description {
    text-align: center;
    margin-bottom: 0;
    &--bump-top {
      text-align: center;
      margin-bottom: 0;
      margin-top: 22px;
    }
  }
}
