.defaults {
    &__divider {
        &--dotted {
            border: 2px solid lightgray;
            border-style: dotted hidden hidden hidden;
        }
        &--solid {
            height: 1px;
            background-color: lightgray !important;
        }
    }
    &__highlight {
        color: red;
    }
    &__sup {
        font-size: 0.6rem;
        vertical-align: super;
    }
    &__big {
        box-sizing: border-box;
        font-size: 2.2rem;
        font-weight: bold;
    }
    &__huge {
        box-sizing: border-box;
        font-size: 3rem;
        font-weight: bold;
    }
    &__description {
        text-align: center;
        margin-bottom: 0;
    }
}
