.store-links-container {
    .store-links-wrapper>table>tbody>tr>th {
        text-align: center;
        a {
            padding: 0px 4px;
            font-size: 0.9rem;
            font-weight: bold;
            &:link {
                color: $black;
            }
            &:visited {
                color: $black;
            }
        }
        span {
            font-size: 1.5rem;
        }
    }
}

.socials-links {
    .social-icon {
        display: inline;
        padding: 0px 6px;
    }
    .store-icon {
        display: inline;
        padding: 0px 12px;
    }
}

.footer-text-container {
    &__line {
        margin-bottom: 0;
        hyphens: none;
        text-align: center;
        font-size: 0.7rem;
    }
    &__anchor-text {
        &--gray {
            &:link {
                text-decoration: underline;
                color: $light-gray;
            }
            &:visited {
                text-decoration: underline;
                color: $light-gray;
            }
        }
        &--red {
            &:link {
                text-decoration: underline;
                color: $anchor-red;
            }
            &:visited {
                text-decoration: underline;
                color: $anchor-red;
            }
        }
        &--blue {
            &:link {
                text-decoration: underline;
                color: $blue;
            }
            &:visited {
                text-decoration: underline;
                color: $blue;
            }
        }
    }
}
