.header {
    &__text {
        font-size: 0.7rem;
        font-family: Arial,Helvetica,sans-serif;
        margin-bottom: 0;
        hyphens: none;
        color: $light-gray;
    }
    &__browser-link {
        font-size: 0.6rem;
        text-decoration: underline;
        &:link {
            color: $anchor-red;
        }
        &:visited {
            color: $anchor-red;
        }
    }
    &__btn {
        float: right;
    }
    &__btn>tbody>tr>td>table>tbody>tr>td {
        border: none;
        background-color: $button-gray;
        a {
            padding: 6px 4px;
            font-size: 0.7rem;
            font-family: Arial,Helvetica,sans-serif;
            &:link {
                color: $black;
            }
            &:visited {
                color: $black;
            }
        }
    }
    .columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
