<container class="deals-main">
  <spacer size="21"></spacer>
  <center>
    <row class="deals-main__links">
      <a href="#"> PRE-OWNED </a>&middot;
      <a href="#"> TRADE VALUES </a>&middot;
      <a href="#"> DEALS </a>&middot; 
      <a href="#"> POWER UP REWARDS </a>
    </row>
  </center>
  <spacer size="25"></spacer>
  <row>
    <div class="deals-main__img">
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/gamestop-proday-main-ad.png" alt="gamestop proday main ad">
    </div>
  </row>
  <spacer size="22"></spacer>
  <row>
    <center>
      <span class="defaults__btn">
        VIEW MORE PRO GAME DEALS
      </span>
    </center>
  </row>
</container>
