<container class="deals-main">
  <spacer size="21"></spacer>
  <center>
    <row class="deals-main__links">
      <a href="#"> PRE-OWNED </a><span>&middot;</span>
      <a href="#"> TRADE VALUES </a><span>&middot;</span>
      <a href="#"> DEALS </a><span>&middot;</span>
      <a href="#"> POWER UP REWARDS </a>
    </row>
  </center>
  <spacer size="25"></spacer>
  <row>
    <div class="deals-main__img">
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/gamestop-proday-main-ad.png" alt="gamestop proday main ad">
    </div>
  </row>
  <spacer size="22"></spacer>
  <row>
    <columns>
      <center>
        <button href ="#">
          VIEW MORE PRO GAME DEALS
        </button>
      </center>
    </columns>
  </row>
</container>

<container class="defaults__divider"></container>

<container class="deals1">
  <spacer size="11"></spacer>
  <row>
    <columns>
      <p class="deals1__header">Special Pro Renewal Offer</p>
    </columns>
  </row>
  <row>
    <columns>
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/games-doom-and-fallout.png" alt="games Doom and Fallout">
    </columns>
    <columns>
      <center>
        <row>
          <p class="deals1__description">Get <span class="defaults__highlight">DOOM for <span class="defaults__sup">$</span>24<span class="defaults__sup">99</span></span> or</p>
          <p class="deals1__description"><span class="defaults__highlight">Fallout 4 for <span class="defaults__sup">$</span>19<span class="defaults__sup">99</span></span> when you</p>
          <p class="deals1__description">renew early, upgrade, or sign up for</p>
          <p class="deals1__description">PowerUp Rewards Pro Membership</p>
          <p class="deals1__description"><span class="defaults__highlight">(An additional $5 Savings)</span></p>
          <button href="#" class="deals1__btn">FIND A STORE</button>
        </row>
      </columns>
      </center>
  </row>
</container>

<container class="defaults__divider"></container>
