<container class="deals-main">
  <spacer size="21"></spacer>
  <center>
    <row class="deals-main__links">
      <a href="#"> PRE-OWNED </a><span>&middot;</span>
      <a href="#"> TRADE VALUES </a><span>&middot;</span>
      <a href="#"> DEALS </a><span>&middot;</span>
      <a href="#"> POWER UP REWARDS </a>
    </row>
  </center>
  <spacer size="25"></spacer>
  <row>
    <div class="deals-main__img">
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/gamestop-proday-main-ad.png" alt="gamestop proday main ad">
    </div>
  </row>
  <spacer size="22"></spacer>
  <row>
    <columns>
      <center>
        <button href ="#">
          VIEW MORE PRO GAME DEALS
        </button>
      </center>
    </columns>
  </row>
</container>

<container class="defaults__divider"></container>

<container class="deals1">
  <spacer size="11"></spacer>
  <row>
    <columns>
      <p class="deals1__header">Special Pro Renewal Offer</p>
    </columns>
  </row>
  <row>
    <columns>
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/games-doom-and-fallout.png" alt="games Doom and Fallout">
    </columns>
    <columns>
      <center>
        <row>
          <p class="defaults__description">Get <span class="defaults__highlight">DOOM for <span class="defaults__sup">$</span>24<span class="defaults__sup">99</span></span> or</p>
          <p class="defaults__description"><span class="defaults__highlight">Fallout 4 for <span class="defaults__sup">$</span>19<span class="defaults__sup">99</span></span> when you</p>
          <p class="defaults__description">renew early, upgrade, or sign up for</p>
          <p class="defaults__description">PowerUp Rewards Pro Membership</p>
          <p class="defaults__description"><span class="defaults__highlight">(An additional $5 Savings)</span></p>
          <button href="#" class="deals1__btn">FIND A STORE</button>
        </row>
      </columns>
      </center>
  </row>
</container>

<container class="defaults__divider"></container>

<container class="deals2">
  <spacer size="11px"></spacer>
  <row>
    <columns>
      <spacer size="22"></spacer>
      <p class="defaults__description">Purchase any new 500GB</p>
      <p class="defaults__description">PS4 System and receive</p>
      <p class="defaults__description">The Last of Us Remastered</p>
      <p class="defaults__description defaults__highlight defaults__huge">FREE</p>
      <center>
        <button href="#">SHOP NOW</button>
      </center>
    </columns>
    <columns>
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/games-cod-and-tlou.png" alt="games cod and tlou">
    </columns>
  </row>
</container>

<container class="defaults__divider"></container>

<container class="deals3">
  <spacer size="11"></spacer>
  <row>
    <columns>
      <p class="deals3__header">Our Featured Pro Accessory Offers</p>
    </columns>
  </row>
  <row>
    <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/accessories.png" alt="accessories">
  </row>
  <row>
    <columns>
      <spacer size="18"></spacer>
      <center>
        <button href="#">VIEW PRO DEALS</button>
      </center>
    </columns>
  </row>
</container>

<container class="defaults__divider"></container>

<container class="deals4">
  <row>
    <columns>
      <spacer size="15"></spacer>
      <p class="defaults__description deals4__header">Save on Collectibles</p>
      <p class="defaults__description defaults__big deals4__buy1get1">BUY <span class="defaults__highlight">1</span> GET <span class="defaults__highlight">1</span></p>
      <p class="defaults__description defaults__big defaults__highlight deals4__buy1get1">50% OFF</p>
      <p class="defaults__description deals4__anypop">Any Pop! Vinyl</p>
      <spacer size="15"></spacer>
      <center>
        <button href="#" class="deals4__btn">SHOP NOW</button>
      </center>
    </columns>
    <columns>
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/pop-figures.png" alt="pop figures">
    </columns>
  </row>
</container>

<container class="defaults__divider"></container>

<container class="deals5">
  <spacer size="25"></spacer>
  <row class="deals5__row">
    <columns>
      <p class="deals5__header">PlayStation VR Games for Pre-Order</p>
      <p class="deals5__subheader">Available 10/13/16</p>
    </columns>
  </row>
  <row>
    <columns>
      <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/games-batman-plus-more.png" alt="games Batman plus more">
    </columns>
  </row>
  <row class="deals5__row">
    <columns>
      <center>
        <button href="#">PRE-ORDER NOW</button>
      </center>
    </columns>
  </row>
</container>

<container class="defaults__divider"></container>
