<container class="store-links-container">
    <spacer size="21"></spacer>
    <row>
        <columns class="store-links-wrapper">
            <a class="store-link" href="#"> WEEKLY AD </a><span>&middot;</span>
            <a class="store-link" href="#"> FIND A STORE </a><span>&middot;</span>
            <a class="store-link" href="#"> POWER UP REWARDS CREDIT CARDS </a>
        </columns>
    </row>
</container>

<container class="defaults__divider--dotted"></container>

<container class="socials-links">
    <spacer size="19"></spacer>
    <row>
        <columns class="social-icons">
            <a href="#"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/facebook-icon.png" alt="facebook icon"></a>
            <a href="#"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/twitter-icon.png" alt="twitter icon"></a>
            <a href="#"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/youtube-icon.png" alt="youtube icon"></a>
            <a href="#"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/google-plus-icon.png" alt="google plus icon"></a>
            <a href="#"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/tumblr.icon.png" alt="tumblr icon"></a>
        </columns>
        <columns class="store-icons">
        </columns>
    </row>
</container>
