<container class="store-links-container">
    <spacer size="21"></spacer>
    <row>
        <columns class="store-links-wrapper">
            <a class="store-link" href="#"> WEEKLY AD </a><span>&middot;</span>
            <a class="store-link" href="#"> FIND A STORE </a><span>&middot;</span>
            <a class="store-link" href="#"> POWER UP REWARDS CREDIT CARDS </a>
        </columns>
    </row>
</container>

<container class="defaults__divider--dotted"></container>

<container class="socials-links">
    <spacer size="19"></spacer>
    <row>
        <columns class="social-icons">
            <a href="https://www.facebook.com/"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/facebook-icon.png" alt="facebook icon"></a>
            <a href="https://twitter.com/?lang=en"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/twitter-icon.png" alt="twitter icon"></a>
            <a href="https://www.youtube.com/"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/youtube-icon.png" alt="youtube icon"></a>
            <a href="#"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/google-plus-icon.png" alt="google plus icon"></a>
            <a href="https://www.tumblr.com/explore/trending?source=homepage_explore"><img class="social-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/tumblr-icon.png" alt="tumblr icon"></a>
        </columns>
        <columns class="store-icons">
            <a href="https://www.apple.com/app-store/"><img class="store-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/app-store-icon.png" alt="app store icon"></a>
            <a href="https://play.google.com/store/games"><img class="store-icon" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/google-play-store-icon.png" alt="google play store icon"></a>
        </columns>
    </row>
</container>

<container class="footer-text-container">
    <spacer size="5"></spacer>
    <p class="footer-text-container__line">You received this email because you are enrolled in the GameStop® PowerUp Rewards™ program.</p>
    <p class="footer-text-container__line">We sent this email to <a class="footer-text-container__anchor-text--blue" href="#">username@gmail.com</a> on 07/28/2016.</p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line"><a class="footer-text-container__anchor-text--red" href="#">Click here</a> if you no longer wish to receive special offers and promotions from GameStop PowerUp Rewards. Please note the unsubscribe process could take 7-10 days to complete. Opting out of emails will not remove you from the PowerUp Rewards program.</p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line">Offers valid for PowerUp Rewards Pro members only. While supplies last. GameStop, Inc. reserves the right to cancel, terminate, modify or suspend offers contained in this email for any reason without notice. Valid 7/30/16. </p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line"><a class="footer-text-container__anchor-text--gray" href="#">*Extra 10% Off:</a> Offer valid 7/30/16 only. Valid for PowerUp Rewards Pro members only. Valid on game and accessory purchases only. Cannot be combined with any other offer. See store associate for details. No dealers. Offer valid in the United States and Guam only. Void where prohibited. GameStop, Inc. reserves the right to cancel, terminate, modify or suspend the offer for any reason without notice.</p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line"><a class="footer-text-container__anchor-text--gray" href="#">**20% Extra Credit:</a> Offer valid 7/30/16 only. Valid for PowerUp Rewards Pro members only. Valid for game and accessory trades only. Not valid toward cash trades. Trades must be in full working condition to receive full value. Defective items may be eligible for trade at a lesser value. Trades subject to manager approval. Cannot be combined with any other offer. See store associate for details. No dealers. Offer valid in the United States and Guam only. Void where prohibited. GameStop, Inc. reserves the right to cancel, terminate, modify or suspend the offer for any reason without notice.</p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line">For offers contained in this email. Selection may vary by store. While supplies last. Customer may be responsible for sales tax. No dealers. GameStop, Inc. reserves the right to cancel, terminate, modify or suspend offers contained in this email for any reason without notice. See sales associate for complete details. Void where prohibited.</p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line">© GameStop, Inc. 2016 | 625 Westport Parkway | Grapevine, TX 76051</p>
    <spacer size="11"></spacer>
    <p class="footer-text-container__line"><a class="footer-text-container__anchor-text--red" href="#">Terms and Conditions</a> | <a class="footer-text-container__anchor-text--red" href="#">Update My Preferences</a> | <a class="footer-text-container__anchor-text--red" href="#">My Account</a></p>
    <spacer size="22"></spacer>
</container>
