<container class="header">
  <spacer size="12"></spacer>
  <row>
    <columns large="6" small="12">
      <p class="header__text">
        PowerUp Pro Members get even deeper summer discounts on Pro Day.
      </p>
      <a class="header__browser-link" href="#">View in Browser</a>
    </columns>
    <columns large="1" small="12">
    </columns>
    <columns large="5" small="12">
        <button class="header__btn" href="#">User, View Your Points & Purchases</button>
    </columns>
  </row>
  <row>
    <columns>
      <center>
        <img
          class="header__img"
          src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/gamestop_powerup_rewards_logo.png"
          alt="gamestop powerup rewards logo"
        />
      </center>
      <spacer size="18"></spacer>
    </columns>
  </row>
</container>

<container class="defaults__divider--dotted"></container>
