<container class="header">
  <spacer size="12"></spacer>
  <row>
    <columns>
      <p class="header__text">PowerUp Pro Members get even deeper summer discounts on Pro Day.</p>
      <a class="header__browser-link" href="#">View in Browser</a>
    </columns>
    <columns>
      <div class="header__btn">User, View Your Points & Purchases</div>
    </columns>
  </row>
  <row>
    <center>
      <img class="header__img" src="https://cdn.jsdelivr.net/gh/FeralTurtle/GameStop_Promotional_Email/dist/assets/img/gamestop_powerup_rewards_logo.png" alt="gamestop powerup rewards logo">
    </center>
    <spacer size="18"></spacer>
  </row>
</container>

<container class="divider"></container>
